page-login {
    .loginPage{
        background: url("/assets/imgs/background-2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .login-container {
        border-radius: 10px;
        opacity: 0.9;
        width: 80%;
        text-align: center;
        background-color: #f7f7f7;
     }
     .login-logo{
         vertical-align: center;
         text-align: center;
     }
     .login-form{
         opacity: none!important;
     }
     .button-ios {
        border-radius: 15px;
        color: #ffffff;
        background-color: #3b5998;
        
    }
 }