page-login {
  .loginPage {
    background: #3a7bd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3a6073,
      #3a7bd5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .login-container {
    border-radius: 20px;
    opacity: 1.0;
    width: 80%;
    text-align: center;
    background-color: #f7f7f7;
    height: 100%;
    margin-top: 10%;
    padding-bottom: 35px;
    padding-top: 25px;
  }
  .login-logo {
    vertical-align: center;
    text-align: center;
  }
  .login-form {
    opacity: none !important;
  }
  .button-ios {
    border-radius: 15px;
    color: #ffffff;
    background-color: #3b5998;
  
  }
}
