page-mantenedor {
  .backgroundPage {
    background: #3a7bd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3a6073,
      #3a7bd5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .tituloPagina {
    color: #f7f7f7;
    font-weight: 900;
  //  margin-bottom: 1em;
    text-align: center;
  }
  .botoes{
    text-align:center;
    background-color: #e4e4e4 opacity($color: #6982f36b);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    height: 108px;
    width: 165px;
    border-radius: 25px;
    //margin-left: 0em;
    position: relative;

  }
   
   .fixline{
    // margin-bottom:3em;
     height: 50px;
     width: auto;
     max-width: 90%
   }
   .card-ios {
    margin: 7px !important;
    padding:0px;
  
  }

   .ion-card{
     display: inline-grid;
   }
    #sair{
      background-image: url("/assets/imgs/exit.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 15px;
         
    }
    #jornadas{
      background-image: url("/assets/imgs/timer.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
        
    }
    #justificativas{
      background-image: url("/assets/imgs/archive.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
        
    }
    #usuarios{
      background-image: url("/assets/imgs/user.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
      
    }
    #feriados{
      background-image: url("/assets/imgs/feriados.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
    }
    #areas{
      background-image: url("/assets/imgs/factory.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
    }
     
    #ocorrencia{
      background-image: url("/assets/imgs/timer.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
        
    }
    #areaFrequencia{
      background-image: url("/assets/imgs/archive.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
        
    }
    #tipoOcorrencia{
      background-image: url("/assets/imgs/warning.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      margin-left: 10px;
    }
}
