<ion-header>
    <ion-navbar>
      <ion-title>Tabela de Frequência</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding class="homePageTabelaFrequencias">
      <ion-item *ngFor="let user of users">
        <h1 ion-text-center style="margin-bottom: 1em;">{{ user.first_name }} {{ user.last_name }}</h1><!--verificar porque nao esta trazendo o nome-->
        </ion-item >
      <ion-grid>
        
        <ion-row>
          <ion-col><b>Dia</b></ion-col>
          <ion-col><b>Horário</b></ion-col>
          
        </ion-row>
      </ion-grid>
        <div *ngFor="let item of lista" > 
             
          <ion-row class="container">
            <ion-col>{{item.dia}}</ion-col>
            <ion-col>{{item.hora}}</ion-col>
            </ion-row>
         
        </div>
       
      <ion-infinite-scroll (ionInfinite)="getUsers($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Aguarde...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    
    </ion-content>