page-user-detail {
    .backgroundPage {
        background: #3a7bd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #3a6073,
          #3a7bd5
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .tituloPagina {
        color: #f7f7f7;
        font-weight: 700;
        margin-bottom: 1em;
        text-align: center;
      }
      img{
        width: 75%;
      }
      .item-ios h5, .item-ios h6, .item-ios h3, .item-ios h4 {
        margin: 0 0 0;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 40px;
    }
    .item-ios h2{
      font-size: 22px;
      font-weight: 900;
    }
    button{
      font-size: 17px !important;
      text-transform: uppercase;
      font-weight: 900;
    }
}
