page-home {
  .backgroundPage {
    background: #3a7bd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #3a6073,
      #3a7bd5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .tituloPagina {
    color: #f7f7f7;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
  }
 
  ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    text-align:center;
    background-color: #f7f7f7 !important;
 
  }

.imagemSair{
  background-image: url("/assets/imgs/exit.png");
  background-size: 30px;
  margin-bottom: 1em;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
 }
 .imagemPendencias{
  background-image: url("/assets/imgs/archive.png");
  background-size: 30px;
  margin-bottom: 1em;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
 }
}
