<ion-header>
  <ion-navbar>
    <ion-title>Relatório de Frequência</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="backgroundPage">
  <!--<div class="tituloPagina"><h3>CONSULTAR FREQUÊNCIAS</h3></div>-->
  <div class="tituloPagina">
    <h3>Nome: {{ relatorio?.user.nome }}</h3>
  </div>
  <div class="tituloPagina">
    <h3>Período: {{ relatorio?.dataini | date: "MMM/yyyy" }}</h3>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col style="color:#3e2baa; font-size:22px;">
        <b>Dia</b>
      </ion-col>
      <ion-col style="color:#3e2baa; font-size:22px;">
        <b> Marcações </b>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <button
      ion-item *ngFor="let item of lista"
      (click)="openOcorrenciaModal(item)"> <!--class="item item-block item-ios"-->
      <ion-grid>
          <ion-row>
              <ion-col>
                <b>{{ item.data | date: "dd" }}</b>
              </ion-col>
              <ion-col *ngFor="let reg of item.registros" style="float: left !important;">
                <b>{{ reg.horario }}</b>
              </ion-col>
              <ion-col>
                <ion-badge color="danger">{{item.ocorrencias.length||''}}</ion-badge>
              </ion-col>
            </ion-row>
      </ion-grid>
    </button>
  </ion-list>
</ion-content>
