page-user-list-mantenedor {
    .mantenedorPageUsers{
        background: url("/assets/imgs/background-2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .tituloPagina{
        color: #f7f7f7;
        font-weight: 700;
        margin-bottom: 2em;
        
         }
}
